<!DOCTYPE html>
<!-- branchのテスト -->
<!-- branchのテスト２ -->
<!-- branchのテスト3 -->
<html>

<head>
	<title>{{.Personaname}}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css" />

</head>

<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<a target="_blank" href="{{ .Profileurl }}"><img src="{{.Avatarmedium}}"><strong>{{.Personaname}}</a>
				</strong> Game Count
				: {{.GameCount}} Total
				Playtime : {{.TotalPlaytime}}h
			</div>
		</div>

		<div id="name-list">
			<div class="panel panel-default">
				<div class="panel-body">
					<label>ゲーム名で検索：<input class="search" placeholder="Search" /></label>
					<label>並び替え：</label>
					<button class="sort" data-sort="gameName">
						名前順
					</button>
					<button class="sort" data-sort="gamePrice">
						プレー時間順
					</button>
				</div>
			</div>

			<ul style="list-style: none;" class="list">
				{{ range .Games }}
				<a href="https://store.steampowered.com/app/{{.Appid}}">
					<li>
						<img
							src="http://media.steampowered.com/steamcommunity/public/images/apps/{{.Appid}}/{{.ImgLogoURL }}.jpg">
						<span class="gameName"><strong>{{ .Name }}</strong></span>
				</a>
				- <span class="gamePrice">{{HourTimes .PlaytimeForever}}</span>h {{.Price}}
				</li>
				{{ end }}
			</ul>

		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
	<script>
		var options = {
			valueNames: ['gameName', 'gamePrice']
		};

		var userList = new List('name-list', options);
	</script>
</body>

</html>